<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FlowerHub</title>

    
    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/style.css')}}" type="text/css">




</head>
<body>
    
      <!-- Page Preloder -->
      <div id="preloder">
        <div class="loader"></div>
      </div>


     <!-- Navigation -->

       <!-- Offcanvas Menu Begin -->
       <div class="offcanvas-menu-overlay"></div>
       <div class="offcanvas-menu-wrapper">
           <div class="offcanvas__option">
               <div class="offcanvas__links ">
                   <a href="/signin">Sign in</a>
                   <a href="/signup">Sign up</a>
               </div>
               
           </div>
           
           <div id="mobile-menu-wrap"></div>
           <div class="offcanvas__text">
               <p class="StylishFont">This Blog is for nature Lovers. Are you?</p>
           </div>
       </div>
       <!-- Offcanvas Menu End -->
   
       <!-- Header Section Begin -->
       <header class="header">
           <div class="header__top">
               <div class="container">
                   <div class="row">
                       <div class="col-lg-6 col-md-7">
                           <div class="header__top__left">
                               <p class="StylishFont">This Blog is for nature Lovers. Are you?</p>
                           </div>
                       </div>
                       <div class="col-lg-6 col-md-5">
                           <div class="header__top__right">
                               <div class="header__top__links">
                                    <a href="/signin">Sign in</a>
                                    <a href="/signup">Sign up</a>
                               </div>
                               
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-3 col-md-3">
                       <div class="header__logo">
                           <a href="/"><h3 class="StylishFont">flower hub</h3></a>
                       </div>
                   </div>
                   <div class="col-lg-9 col-md-9">
                       <nav class="header__menu mobile-menu">
                           <ul>
                               <li class="{% if active == 'index' %}active{%endif %}"><a href="/">Home</a></li>
                               <li class="{% if active == 'blog' %}active{%endif %}" ><a href="/blog">Blog</a></li>
                               <li class="{% if active == 'about' %}active{%endif %}"><a href="/about">About us</a></li>
                               <li class="{% if active == 'contact' %}active{%endif %}"><a href="/contact">Contact us</a></li>
                               <li class="{% if active == 'admin' %}active{%endif %}"><a href="/admin">Admin</a></li>
                               <li class="{% if active == 'allusers' %}active{%endif %}"><a href="/allusers">Users</a></li>
                           </ul>
                       </nav>
                   </div>

                   <!-- <div class="col-lg-2 col-md-2">
                       <div class="header__nav__option">
                           <a href="#" class="search-switch"><img src="../static/img/icon/search.png" alt=""></a>
                           <a href="#"><img src="../static/img/icon/heart.png" alt=""></a>
                           <a href="#"><img src="../static/img/icon/cart.png" alt=""> <span>0</span></a>
                           <div class="price">$0.00</div>
                       </div>
                   </div> -->
               </div>
               <div class="canvas__open"><i class="fa fa-bars"></i></div>
           </div>
       </header>
       <!-- Header Section End -->
   

    
    {% block content %}
    {% endblock %}


 <!-- Footer Section Begin -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/"><h3 class="StylishFont text-white">flower hub</h3></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <!-- <a href="#"><img src="../static/img/payment.png" alt=""></a> -->
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Get to know</h6>
                    <ul>
                        <li><a href="/contactus">Contact us</a></li>
                        <li><a href="/about">About us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>All Posts</h6>
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>. Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

  <script src="{{url_for('static',filename='vendors/js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/jquery.nice-select.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/jquery.nicescroll.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/jquery.countdown.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/jquery.slicknav.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/mixitup.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/main.js')}}"></script>

  <!-- <script>
    $(document).ready(function () {
    $("#{{request.endpoint}}").addClass("active"); })
    </script> -->

</body>
</html>